.accordian .accordian-item {
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}
.accordian .accordian-item:hover {
  border: 1px solid #ffb700;
}

.accordian button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordian button:hover,
.accordian button:focus {
  color: #ffb700;
  cursor: pointer;
}
.accordian button:hover::after,
.accordian button:focus::after {
  color: #ffb700;
  cursor: pointer;
  border: 1px solid #ffb700;
}
.accordian button:hover .accordian-item,
.accordian button:focus .accordian-item {
  border: 1px solid #ffb700;
}
.accordian button .accordian-title {
  padding: 1em 1.5em 1em 5em;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.accordian button .icon {
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 15px;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  border: 1px solid;
}
.accordian button .icon::before {
  position: absolute;
  display: block;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background-color: currentColor;
}
.accordian button .icon::after {
  position: absolute;
  display: block;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background-color: currentColor;
}
.accordian button[aria-expanded="true"] {
  color: #ffb700;
}
.accordian button[aria-expanded="true"] .icon::after {
  width: 0;
}

.accordian button[aria-expanded="true"] + .accordian-content {
  opacity: 1;
  max-height: 9rem;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordian .accordian-content {
  opacity: 0;
  max-height: 0;
  overflow: auto;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  text-align: left;
  padding-left: 50px;
}

.accordian .accordian-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem 0;
}
