.modal-fellow-image img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}
.modal-fellow-image .fellows-name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #2e2e30;
}
.modal-header-content,
.modal-footer-content {
  border-bottom: none !important;
  border-top: none !important;
}
.state .class,
.country,
.modal-txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #2e2e30;
}

.activites-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #2e2e30;
}
.fellows-modal-btn {
  border-radius: 50px !important;
  padding: 6px 16px;
  border: none;
  background: var(--primary-color);
  color: #f3f3f3;
}
.pointer {
  cursor: pointer;
  transition: 0.5s;
}
.pointer:hover {
  font-size: 12px;
}
.about-img img {
  width: 300px;
  height: 300px;
}
