@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap");

.navbar {
  background-color: #fafafa;
}

.nav-head {
  padding-left: 200px;
}
.nav-head .inner-nav .nav-links {
  font-family: "Poppins", sans-serif;
  font-size: 15px !important;
  font-weight: 400;
  font-style: normal;
  color: #2e2e30 !important;
  transition: 1s;
}
.nav-head .inner-nav .nav-link:hover {
  color: #2354d1 !important;
}
.nav-head .inner-nav .nav-link.actives {
  color: #2354d1 !important;
}
.navbar-light .navbar-toggler {
  color: #2354d1 !;
  border-color: #2354d1 !important;
}
.forms-nav {
  color: #ffb700 !important;
}

@media (max-width: 1134px) {
  .nav-head {
    padding-left: 80px;
  }
}
@media (max-width: 992px) {
  .nav-head {
    padding-left: 0;
  }
}
